<?xml version="1.0"?>
<launch> 
  <arg name="base_marker" default="-1" />
  <arg name="rviz" default="false"/>
  <arg name="gui" default="false" />
  <arg name="publish_base_marker" default="false" />
  <arg name="debug_image" default="true" />
  <arg name="camera_info" default="" />
  <arg name="debug_image_topic" default="debug_image" />
  <arg name="image_topic" default="/camera/image" />
  <arg name="image_transport" default="raw" />
  <arg name="num_of_markers" default="200" />
  <arg name="marker_size" default="0.1095" />
  <arg name="calibration_file" default="$(find aruco_mapping)/data/raspicam_v1_underwater.ini" />

  <node if="$(arg publish_base_marker)" pkg="tf2_ros" type="static_transform_publisher" name="local_origin_base_marker_broadcaster" required="true" output="screen" args="0.393 1.033 -0.827 0.008 0.0 1.570 local_origin base_marker"/>

  <node if="$(arg publish_base_marker)" pkg="tf2_ros" type="static_transform_publisher" name="camera_rov_broadcaster" required="true" output="screen" args="0.0 0.253 -0.127 -1.57079632648966 -1.250 0.0 camera rov"/>

  <!-- RVIZ -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find aruco_mapping)/launch/aruco_config.rviz" />

  <!-- ArUco mapping -->
  <node pkg="aruco_mapping" type="aruco_mapping" name="aruco_mapping" output="screen">
    <param name="base_marker" type="int" value="$(arg base_marker)"/>
    <param name="image_topic" type="string" value="$(arg image_topic)"/>
    <param name="image_transport" type="string" value="$(arg image_transport)" />
    <param name="calibration_file" type="string" value="$(arg calibration_file)"/>
    <param name="num_of_markers" type="int" value="$(arg num_of_markers)" />
    <param name="marker_size" type="double" value="$(arg marker_size)"/>
    <param name="roi_allowed" type="bool" value="false" />
    <param name="roi_x" type="int" value="0" /> 
    <param name="roi_y" type="int" value="0" /> 
    <param name="roi_width" type="int" value="640" /> 
    <param name="roi_height" type="int" value="480" />  
    <param name="gui" type="bool" value="$(arg gui)" />
    <param name="camera_info" type="string" value="$(arg camera_info)" />
    <param name="debug_image" type="bool" value="$(arg debug_image)" />
    <param name="debug_image_topic" type="string" value="$(arg debug_image_topic)" />

  </node>  
</launch>
